<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.busreservation.BusReservation</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidater</display-name>
    <servlet-name>LoginValidater</servlet-name>
    <servlet-class>controller.LoginValidater</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidater</servlet-name>
    <url-pattern>/LoginValidater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>controller.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableBusesList</display-name>
    <servlet-name>AvailableBusesList</servlet-name>
    <servlet-class>controller.AvailableBusesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableBusesList</servlet-name>
    <url-pattern>/AvailableBusesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeginReservation</display-name>
    <servlet-name>BeginReservation</servlet-name>
    <servlet-class>controller.BeginReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeginReservation</servlet-name>
    <url-pattern>/BeginReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>controller.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationServlet</display-name>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>controller.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicket</display-name>
    <servlet-name>CancelTicket</servlet-name>
    <servlet-class>controller.CancelTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicket</servlet-name>
    <url-pattern>/CancelTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketServlet</display-name>
    <servlet-name>CancelTicketServlet</servlet-name>
    <servlet-class>controller.CancelTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketServlet</servlet-name>
    <url-pattern>/CancelTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTicket</display-name>
    <servlet-name>ViewTicket</servlet-name>
    <servlet-class>controller.ViewTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTicket</servlet-name>
    <url-pattern>/ViewTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncomeServlet</display-name>
    <servlet-name>IncomeServlet</servlet-name>
    <servlet-class>controller.IncomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServlet</servlet-name>
    <url-pattern>/IncomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoOfPassengersServlet</display-name>
    <servlet-name>NoOfPassengersServlet</servlet-name>
    <servlet-class>controller.NoOfPassengersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoOfPassengersServlet</servlet-name>
    <url-pattern>/NoOfPassengersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoOfBusesServlet</display-name>
    <servlet-name>NoOfBusesServlet</servlet-name>
    <servlet-class>controller.NoOfBusesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoOfBusesServlet</servlet-name>
    <url-pattern>/NoOfBusesServlet</url-pattern>
  </servlet-mapping>
</web-app>